html, body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

div {
    overflow: auto;
}

div#header {
    margin: 0;
    padding-right: 66px;
    padding-left: 75px;
    padding-top: 100px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-image: url("https://img.peapix.com/18313178659351803842.jpg");
    width: 100%;
    height: 100%;
}

div#header h1 {
    font-size: 66px;
    font-weight: 1500;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

div.frame {
    margin: 0;
    padding-right: 66px;
    padding-left: 75px;
}

div.row {
    margin: 66px;
}

div.args {
    padding-left: 15px;
    padding-right: 15px;
    background: #ffe;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

div.error {
    padding: 15px;
    background: #eee;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

fieldset {
    padding: 3px;
    margin: 1px;
    border: 2px solid #ddd;
}

fieldset legend {
    font-weight: bold;
    font-size: 22px;
}

input.query {
    font-size: 18px;
}

label {
    font-size: 22px;
    margin: 6px;
    padding: 1px;
    color: #0d291a;
}

label:hover {
    font-weight: 1000;
    text-shadow: 0.5px 0.5px lightgrey
}

table.form {
    text-align: left;
    font-size: 22px;
    margin-top: 5px;
}

table.form tr td,
table.form tr th {
    vertical-align: top;
    font-size: 22px;
    padding-bottom: 22px;
}

table.form input#id_query_0{
    margin-right: 10px;
    margin-left: 20px;
    padding: 5px 5px;
    font-size: 18px;
    color: #545454;
    width: 44%;
    box-sizing: border-box;
    border: 2px solid #D7D7D7;
    border-radius: 7px;
    transition: width 0.4s ease-in-out;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');
    background-size: 24px 24px;
    background-position: 5px 4px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    display: inline-block;
}

table.form input#id_query_0:hover{
    transition: width border background 0.4s ease-in-out;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
}

table.form input#id_query_0:focus{
    border: 2px solid #c0dccc;
    width: 60%;
    background-color: #F8F8F8;
    transition: width border background 0.2s ease-in-out;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.19);
}

table.form select#id_query_1{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: #545454;
    border: none;
    border-radius: 4px;
    padding: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19); 
    transition: 0.2s;
}

table.form select#id_query_1:hover{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2), 0 1px 8px 0 rgba(0,0,0,0.19); 
}

table.form input#id_time_and_mode_0{
    margin-right: 10px;
    margin-left: 20px;
    padding: 5px 5px;
    font-size: 18px;
    color: #545454;
    width: 25%;
    box-sizing: border-box;
    border: 2px solid #D7D7D7;
    border-radius: 7px;
    transition: width 0.4s ease-in-out;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.materialui.co%2FmaterialIcons%2Faction%2Falarm_grey_192x192.png&f=1&nofb=1');
    background-size: 22px 22px;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    display: inline-block;
}

table.form input#id_time_and_mode_0:hover{
    transition: width border background 0.4s ease-in-out;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19);
}

table.form input#id_time_and_mode_0:focus{
    border: 2px solid #c0dccc;
    width: 30%;
    font-size: 18px;
    color: #696969;
    background-color: #F8F8F8;
    transition: width border background 0.4s ease-in-out;   
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.19); 
}

table.form select#id_time_and_mode_1{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: #545454;
    border: none;
    border-radius: 4px;
    padding: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19); 
}

table.form select#id_time_and_mode_1:hover{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2), 0 1px 8px 0 rgba(0,0,0,0.19); 
}

table.form select#id_time_and_mode_2{
    margin-right: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: #545454;
    border: none;
    border-radius: 4px;
    padding: 4px;
    background-color: #f1f1f1;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.19); 
}

table.form select#id_time_and_mode_2:hover{
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.2), 0 1px 8px 0 rgba(0,0,0,0.19); 
}

table.form ul#id_level {
    list-style-type: none;
    margin-left: 12px;
    padding: 0px;
    font-size: 0px;
}

table.form ul#id_level li {
    display: block;
    float: left;
    margin: 0px;
    padding: 0px;
}

input[value="Search"].button {
  background-color: #429667;
  border: none;
  color: white;
  padding: 12px 24px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

input[value="Search"]:hover{
    background-color: #2e8b57;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

input[type=reset].button {
  background-color: #964271;
  border: none;
  color: white;
  padding: 12px 24px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

input[type=reset]:hover{
    background-color: #8b2e62;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

input[value="Advanced Search"].button {
  background-color: #2e8b86;
  border: none;
  color: white;
  padding: 12px 24px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

input[value="Advanced Search"]:hover{
    background-color: #297d78;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

input[value="Feeling Lucky"].button {
  background-color: white;
  color: grey;
  padding: 10px 5px 5px 15px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin-top: 250px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 150px;
  cursor: pointer;
  border-radius: 8px;
  position: sticky;
  border: 0px solid grey; 
}

input[value="Feeling Lucky"]:hover{
    text-decoration: underline grey 2px;
    text-shadow: 1px 1px lightgrey
}

i {
    color: grey;
}

.column1 {
  float: left;
  width: 64%;
  padding: 0px;
}

.column2 {
  float: right;
  width: 36%;
  padding: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} 

table.recipes {
    border: 2px solid #ddd;
    padding:10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 25px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);
}

table.recipes:hover{
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.19);

}

table.recipes tr th {
    text-align: left;
}

table.recipes input.button {
  font-family: 'Quicksand', sans-serif;
  background-color: #abd0ce;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 6px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.19);
}

table.recipes input.button:hover{
    background-color: #96c5c2;
}

table.recipes tr td,
table.recipes tr th {
    padding: 5px;
    font-size: 18px;
    color: #091b11;
    align-items: center;
    justify-content:center;
}

table.recipes tr:nth-child(even) {
    background: #f4f9f6;
}

ul.errorlist {
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
}

ul.errorlist li {
    font-size: 12px;
    color: red;
    margin: 0px;
    padding: 0px;
}

span.helptext {
    font-size: 14px;
    color: gray;
    padding-left: 20px;
}

p.num_results {
    margin-left: 10px;
    font-size: 18px;
    color: #7f8b9c;
}

input[value="Back to top"].button {
  background-color: #b8bfc8;
  border: none;
  color: white;
  padding: 12px 12px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 80px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.1s;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

input[value="Back to top"]:hover{
    background-color: #7f8b9c;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
}

div#footer {
    background: #1b5334;
    margin: 0;
    padding-right: 66px;
    padding-left: 75px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2), 0 3px 20px 0 rgba(0,0,0,0.19);
}

div#footer h2 {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}
