{% load static %}
<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '../static/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.67">
    <head>
        <title>Pandas Express</title>
        <link rel="stylesheet" type="text/css" href="{% static "login.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Pandas Express</h1>
        </div>
        <div class="frame" id="section1">
            <form method="GET" >
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" class="button" name='save', value="Save User"/>
                <input type="submit" class="button" name='delete', value="Delete All Users"/>
            </form>
            <form method="get" action="{% url 'home'%}">
                <input type="submit" class="button" value="Start Searching" name="{{name}}"/>
            </form>

        </div>
    </body>
</html>
