{% load static %}
<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '../static/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.67">
    <head>
        <title>Advance Search</title>
        <link rel="stylesheet" type="text/css" href="{% static "/advance.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Advance Search</h1>
        </div>
        <div class="frame" id="section1">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" class="button" value="Search" onclick="location.href='#section2';"/>
                <input type="reset" class="button" value="Reset" onclick="location.href='/';" />
            </form>

        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}

        <div class="frame" id="section2">
            {% if result != None %}
            <div class="results">
                <table class="recipes">
                    <tr>
                        {% for col in columns %}
                            {% if forloop.counter|divisibleby:10 %}
                            {% else %}
                                <th>{{ col }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                            {% if forloop.counter|divisibleby:10 %} 
                                <td>
                                    <form method="get" action="{% url 'detail'%}">
                                        <input type="submit" class="button" value="Detail" name="{{col}}"/>
                                    </form>
                                </td>
                            {% else %}
                                <td>{{col}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Results: {{num_results}}</p>
            <input type="back" class="button" value="Back to top" onclick="location.href='#header';" />
            {% endif %}
        </div>
        <div id="footer">
             <h2>Presented by Team AttributeError</h2>
        </div>
    </body>
</html>
