{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="../static/detail.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '../static/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.67">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
        <div id="header">
            <h1>{{name}}</h1>
        </div>
        <div class="sidenav", id='sidenav'>
            <a href="#ingredient">Ingredient</a>
            <a href="#direction">Direction</a>
            <a href="#nutrition">Nutrition</a>
        </div>
        <div id="time">
            <h3><i class="fas fa-clock"></i> Total time: {{time}} min</h3>
        </div>
        <div id="ingredient">
            <h3>  <i class="fas fa-utensils"></i> Ingredients: </h3>
            <ul>
                {% for i in ingredient %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="direction">
            <h3> <i class="fas fa-book"></i> Direction: </h3>
            <ul>
            {% for i in direction %}
            <li> {{ i }} </li>
            {% endfor %}
            </ul>
        </div>
        <div id="nutrition">
            <h3> <i class="fab fa-nutritionix"></i> Nutrition: </h3>
            <form method="post">
                {% csrf_token %}
                <table class="form">
                    {{ form }}
                </table>
                <input type="submit" class="button" value="Plot" onclick="location.href='#nutrition';"/>
            </form>
        </div>
        <div class="row" id="plot">
            <div class="column" id="plot">
            {% if fig1 != None %}
                <img src=../{{fig1}} style="width:90%">
            {% endif %}
            </div>
            <div class="column" id="plot">
            {% if fig2 != None %}
                <img src=../{{fig2}} style="width:63%">
            {% endif %}
            </div>
        </div>
        <br style = “line-height:100px;”>
        <button onclick="topFunction()" id="top" title="Go to top">Back to top</button>
        <button onclick="location.href='/search';" id="search" title="Go to search">Back to search</button>
        <form action="#" method="get">
            <button type="submit" class="btn" id="favorite" name="save">Add to favorite</button>
        </form>
        <div id="footer">
             <h2>Presented by Team AttributeError</h2>
        </div>
        <script>
            var mybutton_sidenav = document.getElementById("sidenav");
            var mybutton_top = document.getElementById("top");
            var mybutton_search = document.getElementById("search");
            var mybutton_fav = document.getElementById("favorite");
            window.onscroll = function() {scrollFunction()};
            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    mybutton_sidenav.style.display = "block";
                    mybutton_top.style.display = "block";
                    mybutton_search.style.display = "block";
                    mybutton_fav.style.display = "block";
                } else {
                    mybutton_sidenav.style.display = "none";
                    mybutton_top.style.display = "none";
                    mybutton_search.style.display = "none";
                    mybutton_fav.style.display = "none";
                }
            }
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
    </body>
</html>
