{% load static %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="../static/detail.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '../static/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.67">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <head>
        <title>{{name}}</title>
    </head>
    <body>
        <div id="header">
            <h1>{{name}}</h1>
        </div>

        <div id="time">
            <p><i class="fas fa-clock"></i> Total time: {{time}} min</p>
        </div>
        

        
        <div id="direction">
            <h3>  <i class="fas fa-utensils"></i>  Ingredients: </h3>
            <ul>
                {% for i in ingredient %}
                <li>{{ i }}</li>
                {% endfor %}
            </ul>
        </div>

        <div id="direction">
            <h3>  <i class="fas fa-book"></i> Direction: </h3>
            <ul>
            {% for i in direction %}
            <li> {{ i }} </li>
            {% endfor %}
            </ul>
        </div>

        <figure>
            <img src=../{{img}} style="width:25%">
        </figure>

        <button type="button" onclick="location.href='/search';">Back to search</button>
        
        <div id="footer">
             <h2>Presented by Team AttributeError</h2>
        </div>
    </body>
</html>