{% load static %}
<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,500" rel="stylesheet">
    <link rel="shortcut icon" href="{% static '../static/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.67">
    <head>
        <title>Pandas Express</title>
        <link rel="stylesheet" type="text/css" href="{% static "/home.css" %}" />
    </head>
    <body>
        <div id="header">
            <h1>Pandas Express</h1>
        </div>
        <div class="row" id="section1">
            <div class="column1">
                <form method="get">
                    {% csrf_token %}
                    <table class="form">{{ form }}</table>
                    <input type="submit" class="button" name='search' value="Search" onclick="location.href='#section2';"/>
                    <input type="reset" class="button" value="Advanced Search" onclick="location.href='/search/advance';" />
                    <input type="reset" class="button" value="Reset" onclick="location.href='/search';" />
                    <input type="submit" class="button" name='fav' value="My Favs" onclick="location.href='#section2';" />
                </form>
            </div>
            <div class="column2">
                <form action="{% url 'detail'%}">
                   <input type="submit" class="button" value="Feeling Lucky" name="{{random_seed}}"/>
                    <i class="fa fa-arrow-right fa-1x"></i>
                </form>
            </div>
        </div>
        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}
        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}
        <div class="frame" id="section2">
            {% if result != None %}
            <div class="results">
                <table class="recipes">
                    <tr>
                        {% for col in columns %}
                            {% if forloop.counter|divisibleby:5 %}
                            {% else %}
                                <th>{{ col }}</th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <tr>
                        {% for col in entry %}
                            {% if forloop.counter|divisibleby:5 %}
                            <td>
                                <form method="get" action="{% url 'detail'%}">
                                    <input type="submit" class="button" value="Detail" name="{{col}}"/>
                                </form>
                            </td>
                            {% else %}
                                <td>{{col}}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <p class="num_results">Results: {{ num_results }}</p>
            <input type="reset" class="button" value="Back to top" onclick="location.href='#header';" />
            {% endif %}
        </div>
        <div id="footer">
             <h2>Presented by Team AttributeError</h2>
        </div>
    </body>
</html>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
